[submodule "harvester"]
	path = harvester
	url = https://github.com/x20ab/polkascan-pre-harvester.git
	branch= wikascan
[submodule "explorer-api"]
	path = explorer-api
	url = https://github.com/x20ab/polkascan-pre-explorer-api.git
	
[submodule "explorer-gui"]
	path = explorer-gui
	url = https://github.com/x20ab/polkascan-pre-explorer-gui.git
